<!DOCTYPE html>
<html lang="en">

{% load static %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<head>
  <script type="text/javascript">

    //<![CDATA[
    
    $(function() {

        $("#sales_manager").autocomplete({
    
            // source: availableCity,
            source : '/sales_autocomplete/',
    
            select: function(event, ui) {
    
                console.log(ui.item);
    
            },
    
            focus: function(event, ui) {
    
                return false;
    
                //event.preventDefault();
    
            }
    
        });
    
    });
    
    //]]>
    
    </script>
    
    
    
    <div class="ui-widget">
    
      <label for="sales_manager">도시: </label>
    
      <input id="sales_manager">
    
    </div>
    
</head>

</html>
