{% extends 'myApp/base.html' %} 
      <!-- Begin Page Content -->
      <div class="container-fluid" >

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800" style="margin-top: 40px; margin-left: 10px;" >입력</h1>
        </div>
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">업체 등록</h6>
          </div>
          <div class="card-body">

            <!-- 파일업로드 --> 
            <form action="/upload/customer/" method="post" enctype="multipart/form-data" style="margin-left: 20px;" novalidate> {% csrf_token %} 
              File : 
              <input type="file" name="file" id="id_file" style="margin-right: 5px;"/>
              <input type="submit" value="업로드" /> 
            </form> 

            <!-- The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS! -->
            <form id='customer' name = 'customer' method="post">{% csrf_token %} 
              <div class="limiter">
                <div class="container-table100">
                  <div class="wrap-table100">
                    <!-- <input type="submit" value="저장" onclick="javascript: form.action='/insert_check/customer/';"/> -->
                    <div class="table">
                      <div class="row header">
                        <div class="cell">
                          업체명
                        </div>
                        <div class="cell">
                          사업자등록번호
                        </div>
                        <div class="cell">
                          대표자
                        </div>
                        <div class="cell">
                          주소
                        </div>
                        <div class="cell">
                          개업연월일
                        </div>
                        <div class="cell">
                          업종1
                        </div>
                        <div class="cell">
                          업종2
                        </div>
                        <div class="cell">
                          업종3
                        </div>
                      </div>
                      <div class="row">
                        <div class="cell" data-title="업체명">
                          <input id= 'customer_name' name = 'customer_name' type='text'/>
                        </div>
                        <div class="cell" data-title="주민번호">
                          <input id= 'company_registration_number' name = 'company_registration_number' type='text'/>
                        </div>
                        <div class="cell" data-title="대표자">
                          <input id= 'representative' name = 'representative' type='text'/>
                        </div>
                        <div class="cell" data-title="주소">
                          <input id= 'address' name = 'address' type='text'/>
                        </div>
                        <div class="cell" data-title="개업연월일">
                          <input id= 'opening_date' name = 'opening_date' type='date'/>
                        </div>
                        <div class="cell" data-title="업종1">
                          <input id= 'field1' name = 'field1' type='text'/>
                        </div>
                        <div class="cell" data-title="업종2">
                          <input id= 'field2' name = 'field2' type='text'/>
                        </div>
                        <div class="cell" data-title="업종3">
                          <input id= 'field3' name = 'field3' type='text'/>
                        </div>
                      </div>

                      <p style="margin-bottom: 29px;"></p>
                      <div class="row header">
                        <div class="cell">
                          구매담당자
                        </div>
                        <div class="cell">
                          연락처1
                        </div>
                        <div class="cell">
                          연락처2
                        </div>
                        <div class="cell">
                          E-Mail
                        </div>
                        <div class="cell">
                          정산담당자
                        </div>
                        <div class="cell">
                          연락처
                        </div>
                        <div class="cell">
                          E-Mail
                        </div>
                      </div>
                      <div class="row">
                        <div class="cell" data-title="구매당당자">
                          <input id= 'purchasing_manager' name = 'purchasing_manager' type='text'/>
                        </div>
                        <div class="cell" data-title="연락처1">
                          <input id= 'purchasing_contact_number1' name = 'purchasing_contact_number1' type='text'/>
                        </div>
                        <div class="cell" data-title="연락처2">
                          <input id= 'purchasing_contact_number2' name = 'purchasing_contact_number2' type='text'/>
                        </div>
                        <div class="cell" data-title="이메일">
                          <input id= 'purchasing_email' name = 'purchasing_email' type='text'/>
                        </div>
                        <div class="cell" data-title="정산담당자">
                          <input id= 'settlement_manager' name = 'settlement_manager' type='text'/>
                        </div>
                        <div class="cell" data-title="연락처">
                          <input id= 'settlement_contact_number' name = 'settlement_contact_number' type='text'/>
                        </div>
                        <div class="cell" data-title="이메일">
                          <input id= 'settlement_email' name = 'settlement_email' type='text'/>
                        </div>
                      </div>

                      <p style="margin-bottom: 29px;"></p>
                      <div class="row header">
                        <div class="cell">
                          INNO 영업 담당
                        </div>
                        <div class="cell">
                          INNO SCM 담당
                        </div>
                        <div class="cell">
                          고객관리등급
                        </div>
                      </div>
                      <div class="row">
                        <div class="cell" data-title="sales_manager">
                          <input id= "sales_manager" name = 'sales_manager' type='text'/>
                        </div>
                        <div class="cell" data-title="scm_manager">
                          <input id= 'scm_manager' name = 'scm_manager' type='text'/>
                        </div>
                        <div class="cell" data-title="rate">
                          <select id="rate" name="rate">");   
                            <option value='1등급'>1등급</option> 
                            <option value='2등급'>2등급</option> 
                            <option value='3등급'>3등급</option> 
                          </select>
                        </div>
                      </div>
                    
                      <!-- <script>
                        for(var f=0;f<1;f++){
                        var customer_name = 'customer_name' + f; var company_registration_number = 'company_registration_number' + f; var representative = 'representative' + f; 
                        var opening_date = 'opening_date' + f; var field1 = 'field1' + f; var field2 = 'field2' + f; var field3 = 'field3' + f; 
                        var address = 'address' + f; var sales_manager = 'sales_manager' + f; var scm_manager = 'scm_manager' + f; var sales_manager = 'sales_manager' + f;
                        var rate = 'rate' + f; 
                        var purchasing_manager = 'purchasing_manager' + f; var purchasing_contact_number1 = 'purchasing_contact_number1' + f; 
                        var purchasing_contact_number2 = 'purchasing_contact_number2' + f; var purchasing_email = 'purchasing_email' + f; 
                        var settlement_manager = 'settlement_manager' + f; var settlement_contact_number = 'settlement_contact_number' + f; var settlement_email = 'settlement_email' + f; 
                        
                        document.write('<div class="row">');
                        document.write('<div class="cell" data-title="업체명">');
                        document.write("<input id= "+ customer_name +" name = " + customer_name + " type='text'/>");  
                        document.write("</div>");
                        document.write('<div class="cell" data-title="사업자등록번호">');
                        document.write("<input id= "+ company_registration_number +" name = " + company_registration_number + " type='text'/>");  
                        document.write("</div>");
                        document.write('<div class="cell" data-title="대표자">');
                        document.write("<input id= "+ representative +" name = " + representative + " type='text'/>");  
                        document.write("</div>");
                        document.write('<div class="cell" data-title="주소">');
                        document.write("<input id= "+ address +" name = " + address + " type='text'/>");  
                        document.write("</div>");
                        document.write('<div class="cell" data-title="개업연월일">');
                        document.write("<input id= "+ opening_date +" name = " + opening_date + " type='date'/>");   
                        document.write("</div>");
                        document.write('<div class="cell" data-title="업종1">');
                        document.write("<input id= "+ field1 +" name = " + field1 + " type='text'/>");    
                        document.write("</div>");
                        document.write('<div class="cell" data-title="업종2">');
                        document.write("<input id= "+ field2 +" name = " + field2 + " type='text'/>");    
                        document.write("</div>");
                        document.write('<div class="cell" data-title="업종3">');
                        document.write("<input id= "+ field3 +" name = " + field3 + " type='text'/>");    
                        document.write("</div>");
                        document.write('<div class="cell" data-title="구매당당자">');
                        document.write("<input id= "+ purchasing_manager +" name = " + purchasing_manager + " type='text'/>");    
                        document.write("</div>");
                        document.write('<div class="cell" data-title="연락처1">');
                        document.write("<input id= "+ purchasing_contact_number1 +" name = " + purchasing_contact_number1 + " type='text'/>");    
                        document.write("</div>");
                        document.write('<div class="cell" data-title="연락처2">');
                        document.write("<input id= "+ purchasing_contact_number2 +" name = " + purchasing_contact_number2 + " type='text'/>");    
                        document.write("</div>");
                        document.write('<div class="cell" data-title="이메일">');
                        document.write("<input id= "+ purchasing_email +" name = " + purchasing_email + " type='text'/>");    
                        document.write("</div>");
                        document.write('<div class="cell" data-title="정산담당자">');
                        document.write("<input id= "+ settlement_manager +" name = " + settlement_manager + " type='text'/>");    
                        document.write("</div>");
                        document.write('<div class="cell" data-title="연락처">');
                        document.write("<input id= "+ settlement_contact_number +" name = " + settlement_contact_number + " type='text'/>");    
                        document.write("</div>");
                        document.write('<div class="cell" data-title="이메일">');
                        document.write("<input id= "+ settlement_email +" name = " + settlement_email + " type='text'/>");    
                        document.write("</div>");
                        document.write('<div class="cell" data-title="sales_manager">');
                        document.write("<input id= "+ sales_manager +" name = " + sales_manager + " type='text'/>");    
                        document.write("</div>");
                        document.write('<div class="cell" data-title="scm_manager">');
                        document.write("<input id= "+ scm_manager +" name = " + scm_manager + " type='text'/>");    
                        document.write("</div>");
                        document.write('<div class="cell" data-title="rate">');
                        document.write("<input id= "+ rate +" name = " + rate + " type='text'/>");    
                        document.write("</div>");
                        document.write("</div>");
                        }
                      </script> -->
                    </div>
                    <!-- <button onclick="add_row()">행 추가하기</button> -->
                    <input type="submit" class = 'sub' value="저장" onclick="javascript: form.action='/insert_check/customer/';"/>
                    
                </div> 
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
      <!-- Main Content  -->
      <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" style="margin-top: 40px; margin-left: 10px;" >조회</h1>
          </div>
          <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> -->

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">업체</h6>
            </div>

            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>업체명</th>
                      <th>사업자등록번호</th>
                      <th>대표자</th>
                      <th>주소</th>
                      <th>개업연월일</th>
                      <th>업종1</th>
                      <th>업종2</th>
                      <th>업종3</th>
                      <th>구매담당자</th>
                      <th>연락처1</th>
                      <th>연락처2</th>
                      <th>E-Mail</th>
                      <th>정산담당자</th>
                      <th>연락처</th>
                      <th>E-Mail</th>
                      <th>INNO 영업담당</th>
                      <th>INNO SCM담당</th>
                      <th>고객관리등급</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>업체명</th>
                      <th>사업자등록번호</th>
                      <th>대표자</th>
                      <th>주소</th>
                      <th>개업연월일</th>
                      <th>업종1</th>
                      <th>업종2</th>
                      <th>업종3</th>
                      <th>구매담당자</th>
                      <th>연락처1</th>
                      <th>연락처2</th>
                      <th>E-Mail</th>
                      <th>정산담당자</th>
                      <th>연락처</th>
                      <th>E-Mail</th>
                      <th>INNO 영업담당</th>
                      <th>INNO SCM담당</th>
                      <th>고객관리등급</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for list in customer_data %}
                      <tr>
                        <style>td{font-size: 14px;};</style>
                        <td>{{list.customer_name|default_if_none:"" }}</td>
                        <td>{{list.company_registration_number|default_if_none:"" }}</td>
                        <td>{{list.representative|default_if_none:"" }}</td>
                        <td>{{list.address|default_if_none:""}}</td>
                        <td>{{list.opening_date|default_if_none:"" |date:"Y-m-d"}}</td>
                        <td>{{list.field1|default_if_none:"" }}</td>
                        <td>{{list.field2|default_if_none:"" }}</td>
                        <td>{{list.field3|default_if_none:"" }}</td>
                        <td>{{list.purchasing_manager|default_if_none:"" }}</td>
                        <td>{{list.purchasing_contact_number1|default_if_none:"" }}</td>
                        <td>{{list.purchasing_contact_number2|default_if_none:"" }}</td>
                        <td>{{list.purchasing_email|default_if_none:"" }}</td>
                        <td>{{list.settlement_manager|default_if_none:"" }}</td>
                        <td>{{list.settlement_contact_number|default_if_none:"" }}</td>
                        <td>{{list.settlement_email|default_if_none:"" }}</td>
                        <td>{{list.sales_manager|default_if_none:"" }}</td>
                        <td>{{list.scm_manager|default_if_none:"" }}</td>
                        <td>{{list.rate|default_if_none:"" }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- nd of Main Content -->
      

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
{% endblock %}

{% block script %}
  <script language="javascript">
    var isSave = '{{isSave}}'
    if (isSave == "성공"){
      alert("저장되었습니다.");
    }else if(isSave == "실패"){
      alert("저장에 실패했습니다.");
    }else if(isSave == "영업 담당 오류"){
      alert("입력한 INNO 영업 담당이 등록되어 있지 않습니다.");
    }else if(isSave == "SCM 담당 오류"){
      alert("입력한 INNO SCM 담당이 등록되어 있지 않습니다.");
    }else if(isSave == "업체 등록 필요"){
      alert("등록되지 않은 업체입니다.");
    }
    var isUpload = '{{isUpload}}'
    if (isUpload == "성공"){
      alert("엑셀 업로드에 성공했습니다.");
    }else if(isUpload == "실패"){
      alert("엑셀 업로드에 실패했습니다");
    }
    $(function() {
      $("#sales_manager").autocomplete({
        source : '/sales_autocomplete/', 
          select: function(event, ui) {
            console.log(ui.item);
          },
          focus: function(event, ui) {
            return false;
          }       
      });
      $("#scm_manager").autocomplete({
        source : '/scm_autocomplete/', 
          select: function(event, ui) {
            console.log(ui.item);
          },
          focus: function(event, ui) {
            return false;
          }       
      });       
    });
  </script>
{% endblock %}
