
{% extends 'myApp/base.html' %}
{% block content %}  
  {% if user.email == "품의" %}
        <!-- Begin Page Content -->
        <div class="container-fluid" >
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" style="margin-top: 40px; margin-left: 10px;" >제품</h1>
          </div>
        </div>
  {% else %}
      <!-- Begin Page Content -->
      <div class="container-fluid" >

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800" style="margin-top: 40px; margin-left: 10px;" >제품</h1>
        </div>
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">등록</h6>
          </div>
          <div class="card-body">

            <!-- 파일업로드 --> 
            <form action="/upload/product/" method="post" enctype="multipart/form-data" style="margin-left: 20px;" novalidate> {% csrf_token %} 
              File : 
              <input type="file" name="file" id="id_file" style="margin-right: 5px;"/>
              <input type="submit" value="업로드" /> 
            </form> 

            <!-- The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS! -->
            <form id='empoyee' name = 'employee' method="post">{% csrf_token %} 
              <div class="limiter">
                <div class="container-table100">
                  <div class="wrap-table100">
                    <!-- <input type="submit" value="저장" onclick="javascript: form.action='/insert_check/product/';"/> -->
                    <div class="table">
                      <div class="row header">
                        <div class="cell">
                          ProductNo
                        </div>
                        <div class="cell">
                          대분류
                        </div>
                        <div class="cell">
                          중분류
                        </div>
                        <div class="cell">
                          소분류
                        </div>
                        <div class="cell">
                          전문성수수료율
                        </div>
                        <div class="cell">
                          잠재력수수료율
                        </div>
                        <div class="cell">
                          추가수수료1
                        </div>
                        <div class="cell">
                          추가수수료2
                        </div>
                        <div class="cell">
                          추가수수료3
                        </div>
                      </div>
                      <script>
                        for(var f=0;f<1;f++){
                        var productno = 'productno' + f; var main_category = 'main_category' + f; var middle_category = 'middle_category' + f;
                        var sub_category = 'sub_category' + f; var professionalism_fee_rate = 'professionalism_fee_rate' + f; var potential_fee_rate = 'potential_fee_rate' + f;
                        var additional_fee1 = 'additional_fee1' + f; var additional_fee2 = 'additional_fee2' + f; var additional_fee3 = 'additional_fee3' + f;
                        document.write('<div class="row">');
        
                        document.write('<div class="cell" data-title="productno">');
                        document.write("<input id= "+ productno +" name = " + productno + " type='text'/>");  
                        document.write("</div>");
        
                        document.write('<div class="cell" data-title=" 대분류">');
                        document.write("<input id= "+ main_category +" name = " + main_category + " type='text'/>");  
                        document.write("</div>");
        
                        document.write('<div class="cell" data-title="중분류">');
                        document.write("<input id= "+ middle_category +" name = " + middle_category + " type='text'/>");  
                        document.write("</div>");
        
                        document.write('<div class="cell" data-title="소분류">');
                        document.write("<input id= "+ sub_category +" name = " + sub_category + " type='text'/>");  
                        document.write("</div>");
        
                        document.write('<div class="cell" data-title="전문성수수료율">');
                        document.write("<input id= "+ professionalism_fee_rate +" name = " + professionalism_fee_rate + " type='text'/>");  
                        document.write("</div>");
        
                        document.write('<div class="cell" data-title="잠재력수수료율">');
                        document.write("<input id= "+ potential_fee_rate +" name = " + potential_fee_rate + " type='text'/>");  
                        document.write("</div>");
        
                        document.write('<div class="cell" data-title="추가수수료1">');
                        document.write("<input id= "+ additional_fee1 +" name = " + additional_fee1 + " type='text'/>");  
                        document.write("</div>");
        
                        document.write('<div class="cell" data-title="추가수수료2">');
                        document.write("<input id= "+ additional_fee2 +" name = " + additional_fee2 + " type='text'/>");  
                        document.write("</div>");
        
                        document.write('<div class="cell" data-title="추가수수료3">');
                        document.write("<input id= "+ additional_fee3 +" name = " + additional_fee3 + " type='text'/>");  
                        document.write("</div>");
                        
                        document.write("</div>");
                        }
                      </script>
                    </div>
                    <input type="submit" class = 'sub' value="저장" onclick="javascript: form.action='/insert_check/product/';"/>
                    
                  </div> 
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
  {% endif %}
      <!-- Main Content  -->
      <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" style="margin-top: 40px; margin-left: 10px;" >조회</h1>
          </div> -->
          <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> -->

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">조회</h6>
            </div>

            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ProductNO</th>
                      <th>대분류</th>
                      <th>중분류</th>
                      <th>소분류</th>
                      <th>전문성수수료율</th>
                      <th>잠재력수수료율</th>
                      <th>추가수수료1</th>
                      <th>추가수수료2</th>
                      <th>추가수수료3</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>ProductNO</th>
                      <th>대분류</th>
                      <th>중분류</th>
                      <th>소분류</th>
                      <th>전문성수수료율</th>
                      <th>잠재력수수료율</th>
                      <th>추가수수료1</th>
                      <th>추가수수료2</th>
                      <th>추가수수료3</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for list in product_data %}
                      <tr>
                        <style>td{font-size: 14px;};</style>
                        <td>{{list.productno|default_if_none:"" }}</td>
                        <td>{{list.main_category|default_if_none:"" }}</td>
                        <td>{{list.middle_category|default_if_none:"" }}</td>
                        <td>{{list.sub_category|default_if_none:"" }}</td>
                        <td>{{list.professionalism_fee_rate|default_if_none:"" }}</td>
                        <td>{{list.potential_fee_rate|default_if_none:"" }}</td>
                        <td>{{list.additional_fee1|default_if_none:"" }}</td>
                        <td>{{list.additional_fee2|default_if_none:"" }}</td>
                        <td>{{list.additional_fee3|default_if_none:"" }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- 엑셀 다운로드 -->
              <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800"></h1>
                <a href="/download/product/" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> 다운로드</a>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- nd of Main Content -->
      

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
{% endblock %}

{% block script %}
<script language="javascript">
  var isSave = '{{isSave}}'
  if (isSave == "성공"){
    alert("저장되었습니다.");
  }else if(isSave == "실패"){
    alert("저장에 실패했습니다.");
  }
  var isUpload = '{{isUpload}}'
  if (isUpload == "성공"){
    alert("엑셀 업로드에 성공했습니다.");
  }else if(isUpload == "실패"){
    alert("엑셀 업로드에 실패했습니다");
  }
  var error = '{{error}}'
  console.log(error)
  if ( error != ''){
    alert(error);
  }
</script>
{% endblock %}