
{% extends 'myApp/base.html' %}
{% block content %}  
      <!-- Begin Page Content -->
      <div class="container-fluid" >

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800" style="margin-top: 40px; margin-left: 10px;" >입력</h1>
        </div>
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">삼성코드 및 담당자 등록</h6>
          </div>
          <div class="card-body">

            <!-- 파일업로드 --> 
            <form action="/upload/samsung_code/" method="post" enctype="multipart/form-data" style="margin-left: 20px;" novalidate> {% csrf_token %} 
              File : 
              <input type="file" name="file" id="id_file" style="margin-right: 5px;"/>
              <input type="submit" value="업로드" /> 
            </form> 

            <!-- The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS! -->
            <form id='samsung_code' name = 'samsung_code' method="post">{% csrf_token %} 
              <div class="limiter">
                <div class="container-table100">
                  <div class="wrap-table100">
                      <!-- <input type="submit" value="저장" onclick="javascript: form.action='/insert_check/employee/';"/> -->
                      <div class="table">
                        <div class="row header">
                          <div class="cell">
                            삼성코드
                          </div>
                          <div class="cell">
                            담당자
                          </div>
                          <div class="cell">
                            부서명
                          </div>
                          <div class="cell">
                            연락처
                          </div>
                          <div class="cell">
                            이메일
                          </div>
                        </div>
                        <script>
                          for(var f=0;f<1;f++){
                          var samsung_code = 'samsung_code' + f; var manager = 'manager' + f;
                          var department = 'department' + f; var phone_num = 'phone_num' + f; var email = 'email' + f;
                          
                          document.write('<div class="row">');
                          document.write('<div class="cell" data-title="삼성코드">');
                          document.write("<input id= "+ samsung_code +" name = " + samsung_code + " type='number'/>");  
                          document.write("</div>");
                          document.write('<div class="cell" data-title="담당자">');
                          document.write("<input id= "+ manager +" name = " + manager + " type='text'/>");  
                          document.write("</div>");
                          document.write('<div class="cell" data-title="부서명">');
                          document.write("<input id= "+ department +" name = " + department + " type='text'/>");   
                          document.write("</div>");
                          document.write('<div class="cell" data-title="연락처">');
                          document.write("<input id= "+ phone_num +" name = " + phone_num + " type='text'/>");  
                          document.write("</div>");
                          document.write('<div class="cell" data-title="이메일">');
                          document.write("<input id= "+ email +" name = " + email + " type='text'/>");  
                          document.write("</div>");
                          document.write("</div>");
                          }
                        </script>
                      </div>
                      <!-- <button onclick="add_row()">행 추가하기</button> -->
                      <input type="submit" class = 'sub' value="저장" onclick="javascript: form.action='/insert_check/samsung_code/';"/>
                      
                  </div> 
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
      <!-- Main Content  -->
      <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" style="margin-top: 40px; margin-left: 10px;" >조회</h1>
          </div>
          <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> -->

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">삼성코드 및 담당자 조회</h6>
            </div>

            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>삼성코드</th>
                        <th>담당자</th>
                        <th>부서명</th>
                        <th>연락처</th>
                        <th>이메일</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                        <th>삼성코드</th>
                        <th>담당자</th>
                        <th>부서명</th>
                        <th>연락처</th>
                        <th>이메일</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for list in samsung_code_data %}
                      <tr>
                        <style>td{font-size: 14px;};</style>
                        <td>{{list.samsung_code|default_if_none:"" }}</td>
                        <td>{{list.manager|default_if_none:"" }}</td>
                        <td>{{list.department|default_if_none:"" }}</td>
                        <td>{{list.phone_num|default_if_none:"" }}</td>
                        <td>{{list.email|default_if_none:"" }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- nd of Main Content -->
      

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
{% endblock %}

{% block script %}
  <script language="javascript">
    var isSave = '{{isSave}}'
    // alert(isSave)
    if (isSave){
      alert("저장되었습니다.");
    }
    var isUpload = '{{isUpload}}'
    if (isUpload == "성공"){
      alert("엑셀 업로드에 성공했습니다.");
    }else if(isUpload == "실패"){
      alert("엑셀 업로드에 실패했습니다");
    }
  </script>
{% endblock %}
   