{% extends 'myApp/base.html' %}  
{% block content %}
      <!-- Begin Page Content -->
      <div class="container-fluid" >

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800" style="margin-top: 40px; margin-left: 10px;" >Select</h1>
        </div>
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">조회 조건 입력</h6>
          </div>
          <div class="card-body">
            <form id='select_result' name = 'select_result' method="post">{% csrf_token %} 
              <div class="limiter">
                <div class="container-table100">
                  <div class="wrap-table100">
                      
                      <p style="margin-bottom: 10px;"> 
                      <!-- <input type='date' id='oldDate' style="max-width: 150px; margin: 0px;"/>
                      <span>~</span>
                      <input type='date' id='currentDate'style="max-width: 150px;  margin: 0px;"/> -->

                      <div class="table">
                        <div class="row header">
                          <div class="cell">
                            삼성코드
                          </div>
                          <div class="cell">
                            삼성담당
                          </div>
                          <div class="cell">
                            영업담당
                          </div>
                          <div class="cell">
                            SCM담당
                          </div>
                        </div>
                        <div class="row">
                          <div class="cell" data-title="samsung_code">
                            <input id= "samsung_code" name = "samsung_code" type='number'/>
                          </div>
                          <div class="cell" data-title="samsung_sales_manager ">
                            <input id= "samsung_sales_manager" name = "samsung_sales_manager" type='text'/>
                          </div>
                          <div class="cell" data-title="sales_manager">
                            <input id= "sales_manager" name = "sales_manager" type='text'/>
                          </div>
                          <div class="cell" data-title="scm_manager">
                            <input id= "scm_manager" name = "scm_manager" type='text'/>
                          </div>
                        </div>
                        <p style="margin-bottom: 20px;"></p>
                        <div class="row header">
                          <div class="cell">
                            OPPTY번호
                          </div>
                          <div class="cell">
                            견적번호
                          </div>
                          <div class="cell">
                            주문번호
                          </div>
                        </div>
                        <div class="row">
                          <div class="cell" data-title="oppty_num">
                            <input id= "oppty_num" name = "oppty_num" type='number'/>
                          </div>
                          <div class="cell" data-title="quote_num ">
                            <input id= "quote_num" name = "quote_num" type='number'/>
                          </div>
                          <div class="cell" data-title="order_num">
                            <input id= "order_num" name = "order_num" type='number'/>
                          </div>
                        </div>
                        <p style="margin-bottom: 20px;"></p>
                        <div class="row header">
                          <div class="cell">
                            업체명
                          </div>
                          <div class="cell">
                            계산서발행업체명
                          </div>
                          <div class="cell">
                            인수자
                          </div>
                          <div class="cell">
                            배송주소
                          </div>
                          <div class="cell">
                            인수자 전화번호1
                          </div>
                        </div>
                        <div class="row">
                          <div class="cell" data-title="customer_name">
                            <input id= "customer_name" name = "customer_name" type='text'/>
                          </div>
                          <div class="cell" data-title="billing_place">
                            <input id= "billing_place" name = "billing_place" type='text'/>
                          </div>
                          <div class="cell" data-title="recipient">
                            <input id= "recipient" name = "recipient" type='text'/>
                          </div>
                          <div class="cell" data-title="delivery_address">
                            <input id= "delivery_address" name = "delivery_address" type='text'/>
                          </div>
                          <div class="cell" data-title="recipient_phone1">
                            <input id= "recipient_phone1" name = "recipient_phone1" type='text'/>
                          </div>
                        </div>
                        <p style="margin-bottom: 20px;"></p>
                        <div class="row header">
                          <div class="cell">
                            주문일
                          </div>
                          <div class="cell">
                            납품요청일
                          </div>
                          <div class="cell">
                            납품예정일
                          </div>
                          <div class="cell">
                            납품완료일
                          </div>
                        </div>
                        <div class="row">
                          <div class="cell" data-title="order_date">
                            <!-- <input id= "order_date" name = "order_date" type='number'/> -->
                            <input type='date' id='order_date_start' name = "order_date_start" style="max-width: 150px; margin: 0px;"/>
                            <input type='date' id='order_date_end' id='order_date_end' style="max-width: 150px;  margin: 0px;"/>
                          </div>
                          <div class="cell" data-title="delivery_request_date">
                            <!-- <input id= "delivery_request_date" name = "delivery_request_date" type='number'/> -->
                            <input type='date' id='delivery_request_date_start' name = "delivery_request_date_start" style="max-width: 150px; margin: 0px;"/>
                            <input type='date' id='delivery_request_date_end' id='delivery_request_date_end' style="max-width: 150px;  margin: 0px;"/>
                          </div>
                          <div class="cell" data-title="scheduled_delivery_date">
                            <!-- <input id= "scheduled_delivery_date" name = "scheduled_delivery_date" type='number'/> -->
                            <input type='date' id='scheduled_delivery_date_start' name = "scheduled_delivery_date_start" style="max-width: 150px; margin: 0px;"/>
                            <input type='date' id='scheduled_delivery_date_end' id='scheduled_delivery_date_end' style="max-width: 150px;  margin: 0px;"/>
                          </div>
                          <div class="cell" data-title="delivery_date">
                            <!-- <input id= "delivery_date" name = "delivery_date" type='number'/> -->
                            <input type='date' id='delivery_date_start' name = "delivery_date_start" style="max-width: 150px; margin: 0px; margin-top:4px;"/>
                            <input type='date' id='delivery_date_end' id='delivery_date_end' style="max-width: 150px;  margin: 0px; margin-bottom: 4px;"/>
                          </div>
                        </div>
                      </div>
                      <input class = "sub" type="submit" value="검색" onclick="javascript: form.action='/select_result/';"/>

                  </div> 
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
      <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">SCM 조회</h6>
            </div>

            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>업체명</th>
                      <th>OPPTY번호</th>
                      <th>견적번호</th>
                      <th>주문일</th>
                      <th>주문번호</th>
                      <th>인수자</th>
                      <th>배송주소</th>
                      <th>인수자 전화번호1</th>
                      <th>Product No</th>
                      <th>매입처</th>
                      <th>수량</th>
                      <th>품의단가</th>
                      <th>품의액</th>
                      <th>승인단가</th>
                      <th>승인액</th>
                      <th>매출단가</th>
                      <th>매출액</th>
                      <th>할당</th>
                      <th>납품요청일</th>
                      <th>납품예정일</th>
                      <th>납품완료일</th>
                      <th>입금일</th>
                      <th>입금액</th>
                      <th>계산서발행처</th>
                      <th>계산서발행일</th>
                      <th>계산서발행금액</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>업체명</th>
                      <th>OPPTY번호</th>
                      <th>견적번호</th>
                      <th>주문일</th>
                      <th>주문번호</th>
                      <th>인수자</th>
                      <th>배송주소</th>
                      <th>인수자 전화번호1</th>
                      <th>Product No</th>
                      <th>매입처</th>
                      <th>수량</th>
                      <th>품의단가</th>
                      <th>품의액</th>
                      <th>승인단가</th>
                      <th>승인액</th>
                      <th>매출단가</th>
                      <th>매출액</th>
                      <th>할당</th>
                      <th>납품요청일</th>
                      <th>납품예정일</th>
                      <th>납품완료일</th>
                      <th>입금일</th>
                      <th>입금액</th>
                      <th>계산서발행처</th>
                      <th>계산서발행일</th>
                      <th>계산서발행금액</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for list in data %}
                      <tr>
                        <style>td{font-size: 12px;};</style>
                        <td>{{list.customer_name|default_if_none:"" }}</td>
                        <td>{{list.oppty_num|default_if_none:"" }}</td>
                        <td>{{list.quote_num|default_if_none:"" }}</td>
                        <td>{{list.order_date|default_if_none:"" |date:"Y-m-d"}}</td>
                        <td>{{list.order_num|default_if_none:"" }}</td>
                        <td>{{list.recipient|default_if_none:"" }}</td>

                        <td>{{list.delivery_address|default_if_none:"" }}</td>
                        <td>{{list.recipient_phone1|default_if_none:"" }}</td>
                        <td>{{list.productno|default_if_none:"" }}</td>
                        <td>{{list.buy_place|default_if_none:"" }}</td>
                        <td>{{list.decision_quantity|default_if_none:"" }}</td>
                        
                        <td>{{list.decision_unit|default_if_none:"" }}</td>
                        <td>{{list.decision_price|default_if_none:"" }}</td>
                        <td>{{list.approval_unit|default_if_none:"" }}</td>
                        <td>{{list.approval_price|default_if_none:"" }}</td>
                        <td>{{list.sales_unit|default_if_none:"" }}</td>
                        
                        <td>{{list.sales_price|default_if_none:"" }}</td>
                        <td>{{list.assignment|default_if_none:"" }}</td>
                        <td>{{list.delivery_request_date|default_if_none:""|date:"Y-m-d"}}</td>
                        <td>{{list.scheduled_delivery_date|default_if_none:"" }}</td>
                        <td>{{list.delivery_date|default_if_none:""|date:"Y-m-d"}}</td>
                        
                        <td>{{list.in_date|default_if_none:"" |date:"Y-m-d"}}</td>
                        <td>{{list.in_amount|default_if_none:"" }}</td>
                        <td>{{list.billing_place|default_if_none:""}}</td>
                        <td>{{list.billing_date|default_if_none:""|date:"Y-m-d"}}</td>
                        <td>{{list.billing_amount|default_if_none:"" }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- 엑셀 다운로드 -->
              <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800"></h1>
                <a href="/download/scm/" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> 다운로드</a>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      <!-- End of Main Content -->

       <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2020</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
  {% endblock %}

{% block script %}
<script language="javascript">

  var error = '{{error}}'
  console.log(error)
  if ( error != ''){
    alert(error);
  }

  var isSave = '{{isSave}}'
  console.log(isSave)
  if ( isSave != ''){
    alert(isSave);
  }


function mySubmit(index){
  if(index == 1){
    document.myForm.action = '/get_data_from_select_scheduled_delivery_date/';
  }else if(index == 2){
    document.myForm.action = '/insert_check/delivery/'; 
  }
  document.myForm.submit();
}

</script>
{% endblock %}

