{% extends 'myApp/base.html' %}  
{% block content %}
  {% if user.email == "품의" %}
        <!-- Begin Page Content -->
        <div class="container-fluid" >
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" style="margin-top: 40px; margin-left: 10px;" >정산</h1>
          </div>
        </div>
  {% else %}
      <!-- Begin Page Content -->
      <div class="container-fluid" >

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" style="margin-top: 40px; margin-left: 10px;" >정산</h1>
          </div>
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">정산 관리</h6>
            </div>
            <div class="card-body">
              <!-- The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS! -->
              <form id='myForm' name = 'myForm' method="post">{% csrf_token %} 

                <div class="container-search" style="overflow: auto;">
                  <div data-title="select_delivery_date_start" style="display:inline-block;">
                    <label>납품완료일</label><input type='date' id='select_delivery_date_start' name = "select_delivery_date_start" style="max-width: 150px; margin: 0px;" class="form-control form-control-sm"  value= {{select_delivery_date_start|default_if_none:'' }} >
                  </div>
                  <span>~</span>
                  <div data-title="select_delivery_date_end" style="display:inline-block;">
                    <input type='date' id='select_delivery_date_end' name = "select_delivery_date_end" style="max-width: 150px; margin: 0px;" class="form-control form-control-sm"  value= {{select_delivery_date_end|default_if_none:'' }} >
                  </div>
                  <div data-title="select_customer_name" style="display:inline-block; margin-left: 40px;">
                    <label>업체명</label><input id= "select_customer_name" name = "select_customer_name" type='text' class="form-control form-control-sm" value= {{select_customer_name}} >
                  </div>
                  <p></p>
                  <input type="button" class = 'sub' value="조회" style="margin-top: 10px;" onclick='mySubmit(1)'/>
                </div>

                {% if result_data|length > 0 %}
                  <div class="limiter">
                    <div class="container-table100" style="padding: 2px 20px;">
                      <div class="wrap-table100">
                        <div class="table">
                          <div class="row header">
                            <div class="cell">
                              업체명
                            </div>
                            <div class="cell">
                              ProductNo
                            </div>
                            <div class="cell">
                              매입처
                            </div>
                            <div class="cell">
                              주문수량
                            </div>
                            <div class="cell">
                              승인단가
                            </div>
                            <div class="cell">
                              승인액
                            </div>
                            <div class="cell">
                              매출단가
                            </div>
                            <div class="cell">
                              매출액
                            </div>
                            <div class="cell">
                              인수자
                            </div>
                            <div class="cell">
                              결제방식
                            </div>
                            <div class="cell">
                              입금일
                            </div>
                            <div class="cell">
                              입금액
                            </div>
                            <div class="cell">
                              여신/기타
                            </div>
                            <div class="cell">
                              계산발행일
                            </div>
                            <div class="cell">
                              계산서발행처
                            </div>
                            <div class="cell">
                              계산서발행금액
                            </div>
                            <div class="cell">
                              정산월
                            </div>
                          </div>
                          <script>
                            var f = -1; var customer_name = 'customer_name' + f; var productno = 'productno' + f; 
                            var buy_place = 'buy_place' + f; var order_quantity = 'order_quantity' + f; 
                            var approval_unit = 'approval_unit' + f; var approval_price = 'approval_price' + f; 
                            var sales_unit = 'sales_unit' + f; var sales_price = 'sales_price' + f;
                            var recipient = 'recipient' + f; var payment_method = 'payment_method' + f;
                            var in_date = 'in_date' + f; var in_amount = 'in_amount' + f;
                            var etc = 'etc' + f; var billing_date = 'billing_date' + f;
                            var billing_place = 'billing_place' + f; var sales_price = 'sales_price' + f;
                            var settlement_month = 'settlement_month' + f; var order_num = 'order_num' + f;
                            var data_length = 'data_length'; var oppty_num = 'oppty_num' + f
                            var quote_num = 'quote_num' + f;

                            document.write('{% for list in result_data %}');
                            f = f+1; customer_name = 'customer_name' + f; productno = 'productno' + f; 
                            buy_place = 'buy_place' + f;  order_quantity = 'order_quantity' + f; 
                            approval_unit = 'approval_unit' + f;  approval_price = 'approval_price' + f; 
                            sales_unit = 'sales_unit' + f;  sales_price = 'sales_price' + f;
                            recipient = 'recipient' + f;  payment_method = 'payment_method' + f;
                            in_date = 'in_date' + f;  in_amount = 'in_amount' + f;
                            etc = 'etc' + f;  billing_date = 'billing_date' + f;
                            billing_place = 'billing_place' + f;  sales_price = 'sales_price' + f;
                            settlement_month = 'settlement_month' + f; oppty_num = 'oppty_num' + f
                            order_num = 'order_num' + f; quote_num = 'quote_num' + f
                            
                            document.write("<input id= "+ quote_num +" name = " + quote_num + " type='hidden'  value={{list.quote_num|default_if_none:'' }}> ");  
                            document.write("<input id= "+ oppty_num +" name = " + oppty_num + " type='hidden'  value={{list.oppty_num|default_if_none:'' }}> ");  
                            document.write("<input id= "+ order_num +" name = " + order_num + " type='hidden'  value={{list.order_num|default_if_none:'' }}> ");    
                            document.write('<div class="row">');
                            document.write('<div class="cell" data-title="customer_name">');
                            document.write("<input id= "+ customer_name +" name = " + customer_name + " type='text'  value={{list.customer_name|default_if_none:'' }}> ");   
                            document.write("</div>");
                            document.write('<div class="cell" data-title="productno">');
                            document.write("<input id= "+ productno +" name = " + productno + " type='text' value={{list.productno|default_if_none:'' }}> ");    
                            document.write("</div>");
                            document.write('<div class="cell" data-title="buy_place">');
                            document.write("<input id= "+ buy_place +" name = " + buy_place + " type='text' value={{list.buy_place|default_if_none:'' }}> ");   
                            document.write("</div>");
                            document.write('<div class="cell" data-title="order_quantity">');
                            document.write("<input id= "+ order_quantity +" name = " + order_quantity + " type='number'  value={{list.order_quantity|default_if_none:'' }}> ");  
                            document.write("</div>");
                            document.write('<div class="cell" data-title="approval_unit">');
                            document.write("<input id= "+ approval_unit +" name = " + approval_unit + " type='number' value={{list.approval_unit|default_if_none:'' }}> ");   
                            document.write("</div>");
                            document.write('<div class="cell" data-title="approval_price">');
                            document.write("<input id= "+ approval_price +" name = " + approval_price + " type='number' value={{list.approval_price|default_if_none:'' }}> ");
                            document.write("</div>");
                            document.write('<div class="cell" data-title="sales_unit">');
                            document.write("<input id= "+ sales_unit +" name = " + sales_unit + " type='number' value={{list.sales_unit|default_if_none:'' }}> ");
                            document.write("</div>");
                            document.write('<div class="cell" data-title="sales_price">');
                            document.write("<input id= "+ sales_price +" name = " + sales_price + " type='number' value={{list.sales_price|default_if_none:'' }}> ");
                            document.write("</div>");
                            document.write('<div class="cell" data-title="recipient">');
                            document.write("<input id= "+ recipient +" name = " + recipient + " type='text' value={{list.recipient|default_if_none:''}}> ");   
                            document.write("</div>");
                            document.write('<div class="cell" data-title="payment_method">');
                            document.write("<input id= "+ payment_method +" name = " + payment_method + " type='text' value={{list.payment_method|default_if_none:''  }}> ");  
                            document.write("</div>");
                            document.write('<div class="cell" data-title="in_date">');
                            document.write("<input id= "+ in_date +" name = " + in_date + " type='date' value={{list.in_date|default_if_none:'' | date:'Y-m-d'}} >");  
                            document.write("</div>");
                            document.write('<div class="cell" data-title="in_amount">');
                            document.write("<input id= "+ in_amount +" name = " + in_amount + " type='number' value={{list.in_amount|default_if_none:''  }}> ");  
                            document.write("</div>");
                            document.write('<div class="cell" data-title="etc">');
                            document.write("<input id= "+ etc +" name = " + etc + " type='text' value={{list.etc|default_if_none:''  }}> "); 
                            document.write("</div>");
                            document.write('<div class="cell" data-title="billing_date">');
                            document.write("<input id= "+ billing_date +" name = " + billing_date + " type='date' > ");  
                            document.write("</div>");
                            document.write('<div class="cell" data-title="billing_place">');
                            document.write("<input id= "+ billing_place +" name = " + billing_place + " type='text' value={{list.billing_place|default_if_none:''  }}> "); 
                            document.write("</div>");
                            document.write('<div class="cell" data-title="sales_price">');
                            document.write("<input id= "+ sales_price +" name = " + sales_price + " type='number' value={{list.sales_price|default_if_none:''  }}> ");  
                            document.write("</div>");
                            document.write('<div class="cell" data-title="settlement_month">');
                            document.write("<input id= "+ settlement_month +" name = " + settlement_month + " type='date' > ");  
                            document.write("</div>");
                            document.write("</div>");
                            document.write('{% endfor %}');
                            document.write("<input id= " + data_length + " name = "+ data_length + " type='hidden' value =" + f + "> ");
                          </script>
                        </div>
                        <input type="submit" class='sub' value="저장" onclick='mySubmit(2)'/>
                      </div>
                    </div> 
                  </div>
                  {% endif %}
              </form>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
  {% endif %}
        <!-- Main Content  -->
      <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" style="margin-top: 40px; margin-left: 10px;" >조회</h1>
          </div> -->
          <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> -->

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">조회</h6>
            </div>

            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>업체명</th>
                      <th>Product No</th>
                      <th>매입처</th>
                      <th>주문수량</th>
                      <th>승인단가</th>
                      <th>승인액</th>
                      <th>매출단가</th>
                      <th>매출액</th>
                      <th>인수자</th>
                      <th>납품완료일</th>
                      <th>결제방식</th>
                      <th>입금일</th>
                      <th>입금액</th>
                      <th>여신/기타</th>
                      <th>계산발행일</th>
                      <th>계산서발행처</th>
                      <th>계산서발행금액</th>
                      <th>정산월</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>업체명</th>
                      <th>Product No</th>
                      <th>매입처</th>
                      <th>주문수량</th>
                      <th>승인단가</th>
                      <th>승인액</th>
                      <th>매출단가</th>
                      <th>매출액</th>
                      <th>인수자</th>
                      <th>납품완료일</th>
                      <th>결제방식</th>
                      <th>입금일</th>
                      <th>입금액</th>
                      <th>여신/기타</th>
                      <th>계산발행일</th>
                      <th>계산서발행처</th>
                      <th>계산서발행금액</th>
                      <th>정산월</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for list in all_data %}
                      <tr>
                        <style>td{font-size: 14px;};</style>
                        <td>{{list.customer_name|default_if_none:"" }}</td>
                        <td>{{list.productno|default_if_none:"" }}</td>
                        <td>{{list.buy_place|default_if_none:"" }}</td>
                        <td>{{list.order_quantity|default_if_none:"" }}</td>
                        <td>{{list.approval_unit|default_if_none:"" }}</td>
                        <td>{{list.approval_price|default_if_none:"" }}</td>
                        <td>{{list.sales_unit|default_if_none:"" }}</td>
                        <td>{{list.sales_price|default_if_none:"" }}</td>
                        <td>{{list.recipient|default_if_none:"" }}</td>
                        <td>{{list.delivery_date|default_if_none:"" |date:"Y-m-d"}}</td>
                        <td>{{list.payment_method|default_if_none:"" }}</td>
                        <td>{{list.in_date|default_if_none:"" |date:"Y-m-d"}}</td>
                        <td>{{list.in_amount|default_if_none:"" }}</td>
                        <td>{{list.etc|default_if_none:"" }}</td>
                        <td>{{list.billing_date|default_if_none:"" |date:"Y-m-d"}}</td>
                        <td>{{list.billing_place|default_if_none:"" }}</td>
                        <td>{{list.billing_amount|default_if_none:"" }}</td>
                        <td>{{list.settlement_month|default_if_none:"" |date:"Y-m"}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- nd of Main Content -->

        
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2020</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
  {% endblock %}

{% block script %}
<script language="javascript">

  var error = '{{isSave}}'
  console.log(error)
  if ( error != ''){
    alert(error);
  }
  
$(function() {
  $("#select_customer_name").autocomplete({
        source : '/customer_name_autocomplete/', 
          select: function(event, ui) {
            console.log(ui.item);
            // $("#company_registration_number0").val(ui.item.value.split(":")[1])
            return false;
          },
          focus: function(event, ui) {
            $("#select_customer_name").val(ui.item.id)
            return false;
          }      
      });  
});

function mySubmit(index){
  if(index == 1){
    document.myForm.action = '/get_data_from_delivery_date/';
  }else if(index == 2){
    document.myForm.action = '/insert_check/settlement/'; 
  }
  document.myForm.submit();
}

</script>
{% endblock %}

